
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="author" content="MONKEY PLUS" />
  <link rel="icon" href="/assets/images/shared/favicon.jpg" />

  <title>
    Edimca | Venta de todo tipo de madera en Quito Guayaquil Ecuador
  </title>
  <meta name="description"
    content="Venta de todo tipo madera en Ecuador, encuentra plywood, mdf, melamínicos, tablas triplex, aglomerado, tablones, formica, tableros y herrajes para muebles" />
  <meta name="keywords"
    content="madera, aglomerado, melamina, muebles de melamina, melaminicos, triplex, maderas mdf, venta de madera." />

  <meta itemprop="name" content="Edimca | Venta de todo tipo de madera en Quito Guayaquil Ecuador" />
  <meta itemprop="description"
    content="Venta de todo tipo madera en Ecuador, encuentra plywood, mdf, melamínicos, tablas triplex, aglomerado, tablones, formica, tableros y herrajes para muebles" />
  <meta itemprop="image" content="https://edimca.com.ec//assets/images/shared/metatag.jpg" />

  <meta name="twitter:site" content="@edimca" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:url" content="https://edimca.com.ec/" />
  <meta name="twitter:title" content="Edimca | Venta de todo tipo de madera en Quito Guayaquil Ecuador" />
  <meta name="twitter:description"
    content="Venta de todo tipo madera en Ecuador, encuentra plywood, mdf, melamínicos, tablas triplex, aglomerado, tablones, formica, tableros y herrajes para muebles" />
  <meta name="twitter:image" content="https://edimca.com.ec//assets/images/shared/metatag.jpg" />

  <meta property="og:title" content="Edimca | Venta de todo tipo de madera en Quito Guayaquil Ecuador" />
  <meta property="og:type" content="website" />
  <meta property="og:description"
    content="Venta de todo tipo madera en Ecuador, encuentra plywood, mdf, melamínicos, tablas triplex, aglomerado, tablones, formica, tableros y herrajes para muebles" />
  <meta property="og:image" content="https://edimca.com.ec//assets/images/shared/metatag.jpg" />
  <meta property="og:url" content="https://edimca.com.ec//" />
  <meta property="og:site_name" content="Edimca | Venta de todo tipo de madera en Quito Guayaquil Ecuador" />

  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-WTF7NQ8");
  </script>

  <script type="text/javascript" async
    src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/460a6165-0297-42d1-8140-f90f127d888b-loader.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
 
  <link href="/assets/css/chunk-common.21fee240.css" rel="preload" as="style" />
  <link href="/assets/css/chunk-vendors.ef53605d.css" rel="preload" as="style" />
  <link href="/assets/js/chunk-common.3d02d95e.js" rel="preload" as="script" />
  <link href="/assets/js/chunk-vendors.5c475a3d.js" rel="preload" as="script" />
  <link href="/assets/js/index.1da573ea.js" rel="preload" as="script" />
  <link href="/assets/css/chunk-vendors.ef53605d.css" rel="stylesheet" />
  <link href="/assets/css/chunk-common.21fee240.css" rel="stylesheet" />

  <link rel="stylesheet" href="/assets/css/custom.css" />

  <script type="text/javascript" async
    src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/460a6165-0297-42d1-8140-f90f127d888b-loader.js"></script>
  <!-- Facebook Pixel Code -->
  <script>
    !(function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod
          ? n.callMethod.apply(n, arguments)
          : n.queue.push(arguments);
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = "2.0";
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s);
    })(
      window,
      document,
      "script",
      "https://connect.facebook.net/en_US/fbevents.js"
    );
    fbq("init", "{your-pixel-id-goes-here}");
    fbq("track", "PageView");
  </script>
  <noscript>
    <img height="1" width="1" style="display: none"
      src="https://www.facebook.com/tr?id={your-pixel-id-goes-here}&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body data-app="true" class="v-application v-application--is-ltr theme--light _block">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTF7NQ8" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>

 

  <div id="carga" class="_flex _justify-center _items-center">
    <div id="loader">
      <img src="/assets/images/shared/edimca-es-venta-de-madera-en-quito-guayaquil-cuenca.svg" class=""
        title="Edimca es venta de madera en Quito, Guayaquil, Cuenca"
        alt="Edimca es venta de madera en Quito, Guayaquil, Cuenca" width="114" height="27" />
    </div>
  </div>

  <div id="index" crumb="">
    <div class="words">
      La empresa de &lt;h1&gt;madera&lt;/h1&gt; y
      &lt;H2&gt;aglomerado&lt;/H2&gt; mas grande de Ecuador donde encontraras
      todo en &lt;H2&gt;melamina&lt;/h2&gt; desde &lt;h3&gt;muebles de
      melamina&lt;/h3&gt;, melamina de colores,
      &lt;h4&gt;melaminicos&lt;/h4&gt;, nos especializamos en remodelación
      trabajamos con tabla &lt;h4&gt;triplex&lt;/h4&gt;, mdp,
      &lt;h5&gt;maderas mdf&lt;/h5&gt;, tableros de madera y muchos productos
      de excelente calidad. Encuentra todo en &lt;h5&gt;venta de
      madera&lt;/h5&gt;, estamos disponibles en Quito, Guayaquil, Cuenca,
      Manta, tenemos cobertura en todo el Ecuador. Contáctanos.
    </div>
    <!--<div class="popup">
      <button id="close">&times;</button>
      <a href="/herrajes.html" ><img src="/assets/images/herrajes.jpg"
          alt="" /></a>
    </div>-->

    <div class="popup2">
      <button id="close2">&times;</button>
      <a href="https://bit.ly/3SF1xu1" target="_blank" ><img src="/assets/images/cotiza_pop.jpg"
          alt="" /></a>
    </div>

    <header>
      <div class="
            _container
            _mx-auto
            _flex
            _justify-between
            md:_justify-around
            _items-center
          ">
        <div class="md:_hidden _flex _items-center">
          <div class="btn_menu _mr-10" @click="toggleMenu()">Menú</div>
          <a href="/">
            <img src="/assets/images/shared/edimca-es-venta-de-madera-en-quito-guayaquil-cuenca.svg" class=""
              title="Edimca es venta de madera en Quito, Guayaquil, Cuenca"
              alt="Edimca es venta de madera en Quito, Guayaquil, Cuenca" width="114" height="27" />
          </a>
        </div>
        <div class="btn_menu _hidden md:_flex" @click="toggleMenu()">
          Menú
        </div>
        <a class="_hidden md:_flex" href="/">
          <img src="/assets/images/shared/edimca-es-venta-de-madera-en-quito-guayaquil-cuenca.svg" class=""
            title="Edimca es venta de madera en Quito, Guayaquil, Cuenca"
            alt="Edimca es venta de madera en Quito, Guayaquil, Cuenca" width="114" height="27" />
        </a>
        <i @click="toggleSearch()" class="text-positive medium mdi mdi-magnify"></i>
      </div>
    </header>

    <div class="menu" :class="{show:menu}">
      <div class="actions">
        <div class="icon_btn_text">
          <a class="icon_btn bg-primary text-positive" href="javascript:void(0)" @click="toggleMenu()">
            <i class="mdi mdi-arrow-left"></i>
          </a>

          <div class="text">Regresar</div>
        </div>

        <div class="icon_btn_text">
          <a class="icon_btn bg-primary text-positive" href="/index.html">
            <i class="mdi mdi-home-outline"></i>
          </a>

          <div class="text">Ir al inicio</div>
        </div>
      </div>
      <div class="list">
        <v-expansion-panels class="expansor_a">
          <v-expansion-panel>
            <v-expansion-panel-header>
              <div class="_flex _items-center">
                <i class="icon icon-products"></i>
                Productos
              </div>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="body">
              <ul>
                <li>
                  <a href="/aglomerados.html"> Aglomerado </a>
                </li>

                <li>
                  <a href="/mdf.html"> MDF </a>
                </li>

                <li>
                  <a href="/ranurado.html"> Ranurado </a>
                </li>

                <li>
                  <a href="/tablero-osb.html"> OSB </a>
                </li>

                <li>
                  <a href="/triplex.html"> Tríplex </a>
                </li>

                <li>
                  <a href="/chapa-de-madera.html"> Chapa </a>
                </li>

                <li>
                  <a href="/acabados.html"> Acabados </a>
                </li>

                <li>
                  <a href="/madera-solida.html"> Madera sólida </a>
                </li>

                <li>
                  <a href="/adhesivos.html"> Adhesivos </a>
                </li>

                <li>
                  <a href="/bordos.html"> Bordos </a>
                </li>

                <li>
                  <a href="/herrajes.html"> Herrajes </a>
                </li>

                <li>
                  <a href="/puertas.html"> Puertas </a>
                </li>

                <li>
                  <a href="/cerraduras.html"> Cerraduras </a>
                </li>

                <li>
                  <a href="/laminados-alta-presion.html">
                    Laminado de alta presión
                  </a>
                </li>
              </ul>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>

        <v-expansion-panels class="expansor_a">
          <v-expansion-panel>
            <v-expansion-panel-header>
              <div class="_flex _items-center">
                <i class="icon icon-services"></i>
                Servicios
              </div>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="body">
              <ul>
                <li>
                  <a href="/ruteados.html"> Ruteados Especiales </a>
                </li>

                <li>
                  <a href="/formica.html"> Pegado de Formica </a>
                </li>

                <li>
                  <a href="/perfileria.html"> Perfilería </a>
                </li>

                <li>
                  <a href="/canales.html"> Canales </a>
                </li>

                <li>
                  <a href="/etiquetado.html"> Etiquetado </a>
                </li>

                <li>
                  <a href="/perforado.html"> Perforado </a>
                </li>

                <li>
                  <a href="/fabricacion.html"> Fabricación </a>
                </li>

                <li>
                  <a href="/enchapado.html"> Enchape </a>
                </li>

                <li>
                  <a href="/corte.html"> Corte </a>
                </li>

                <li>
                  <a href="/postformado.html"> Postformado </a>
                </li>
              </ul>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
      <div class="options">
        <a href="/centro-de-diseno.html">
          <i class="icon icon-design"></i>
          Centro de Diseño
        </a>

        <a href="/productos/inspirate-ambientes.html">
          <i class="icon icon-inspiration"></i>
          Inspírate
        </a>

        <a href="/puntos-de-venta.html">
          <i class="icon icon-buy"></i>
          ¿Dónde comprar?
        </a>

         

        <a href="/capacitate.html">
          <i class="icon icon-capacitation"></i>
          Capacitación
        </a>
      </div>
      <div class="aditionals">
        <a href="/quienes-somos.html"> Sobre EDIMCA </a>

        <a href="javascript:void(0)" @click="toggleContact()">
          Contáctanos
        </a>

        <a href="/afiliate.html"> Club Amigo </a>

        <a href="/blog.html"> Blog </a>
      </div>
      <div class="redes">
        <a href="https://www.instagram.com/edimca_ec/" target="_blank">
          <i class="icon-instagram"></i>
        </a>

        <a href="https://www.facebook.com/edimca" target="_blank">
          <i class="icon-facebook"></i>
        </a>

        <a href="https://www.linkedin.com/company/edimca/" target="_blank">
          <i class="icon-linkedin"></i>
        </a>

        <a href="https://www.youtube.com/channel/UCAiqP_84GFdyrh16VoyvX6w" target="_blank">
          <i class="icon-youtube"></i>
        </a>

        <a href="https://www.pinterest.com/edimca/" target="_blank">
          <i class="icon-pinterest"></i>
        </a>
      </div>
    </div>

    <div id="index">
      <section id="section1">
        <div class="
              _container
              _mx-auto
              _flex
              _justify-center
              _items-center
              _flex-wrap
            ">
          <div class="_w-4/12 md:_w-full">
            <div class="tag">Hagamos realidad tu proyecto,</div>
            <div class="head">¿Qué estás buscando?</div>
          </div>
          <div class="
                _w-8/12
                md:_w-full
                _flex
                xsm:_justify-between
                _flex-wrap
                _justify-center
              ">
            <a class="item_a" href="/productos-y-herrajes-de-madera.html" data-aos="zoom-in">
              <div class="image">
                <img src="/assets/images/home/edimca-venta-de-madera-y-productos-en-ecuador.png" class=""
                  title="Edimca venta de madera y productos en Ecuador"
                  alt="Edimca venta de madera y productos en Ecuador" width="67" height="67" />
              </div>
              <div class="text">Nuestros productos</div>
              <i class="mdi mdi-plus text-primary"></i>
            </a>

            <a class="item_a" href="/servicios.html" data-aos="zoom-in">
              <div class="image">
                <img src="/assets/images/home/edimca-venta-de-madera-y-servicios-en-ecuador.png" class=""
                  title="Edimca venta de madera y servicios en Ecuador"
                  alt="Edimca venta de madera y servicios en Ecuador" width="67" height="67" />
              </div>
              <div class="text">Nuestros servicios</div>
              <i class="mdi mdi-plus text-primary"></i>
            </a>

            <a class="item_a" href="/optimizador.html" data-aos="zoom-in">
              <div class="image">
                <img src="/assets/images/home/optimizar-cortes-de-madera-con-edimca-quito.png" class=""
                  title="Optimizar cortes de madera con Edimca Quito" alt="Optimizar cortes de madera con Edimca Quito"
                  width="67" height="67" />
              </div>
              <div class="text">Optimizar cortes</div>
              <i class="mdi mdi-plus text-primary"></i>
            </a>

            <a class="item_a" href="https://bit.ly/3SF1xu1" @click="toggleContact()" data-aos="zoom-in">
              <div class="image">
                <img src="/assets/images/home/cotiza-madera-melamina-aglomerado-en-edimca.png" class=""
                  title="Cotiza madera melamina, aglomerado, en Edimca"
                  alt="Cotiza madera melamina, aglomerado, en Edimca" width="67" height="67" />
              </div>
              <div class="text">Solicitar una cotización</div>
              <i class="mdi mdi-plus text-primary"></i>
            </a>
          </div>
        </div>
      </section>

      <section id="section2">
        <div class="_container _mx-auto">

          <img class="bosques_logo" src="/assets/images/home/bosques.png" class="" title="Garantía de herrajes" alt="Garantía de herrajes" width="493" height="130">

          <div class="head">
            <h3>Centros de Diseño</h3>
          </div>
          <div class="tag">¡Ahorra tiempo y gana más clientes!</div>
          <iframe v-if="showFrame" class="video" src="https://www.youtube.com/embed/zkYI_a07zzE"
            allowfullscreen></iframe>
          <div class="txt">
            Amigo carpintero y fabricante de
            <h4>muebles</h4>
            , cuenta con nosotros para llevar tus proyectos al siguiente nivel
            en nuestros Centros de Diseño.
          </div>

          <a class="btn bg-complementary text-positive" href="/centro-de-diseno.html">
            <div class="text">Centros de Diseño</div>
          </a>
        </div>
      </section>

      <section id="section3" class="bg-silverLight _py-8">
        <div class="_container _mx-auto">
          <div class="magazine _flex _justify-center _items-center md:_hidden">
            <div class="_w-3/12">
              <div class="card_e">
                <div class="center">
                  <span>Descarga nuestra revista</span> y conoce las mejores
                  ofertas y descuentos creados para ti.
                </div>
              </div>

              <div class="_h-4"></div>

              <a class="btn bg-complementary text-positive"
                href="https://madera.edimca.com.ec/landing-revista-septiembre-octubre-2022" target="_blank">
                <i class="mdi mdi-progress-download text-primary"></i>

                <div class="text">Descargar revista</div>
              </a>
            </div>
            <div class="_w-4/12"    data-aos-anchor-placement="bottom-bottom">
              <img src="/assets/images/home/revistaSep-Oct.png" class="" title="Ambientes de madera en Quito"
                alt="Ambientes de madera en Quito" width="400" height="515" />
            </div>
          </div>
          <div class="magazine _hidden md:_block">
            <div class="card_e">
              <div class="center">
                <span>Descarga nuestra revista</span> y conoce las mejores
                ofertas y descuentos creados para ti.
              </div>
            </div>

            <img src="/assets/images/home/revistaSep-Oct.png" class="" title="Ambientes de madera en Quito"
              alt="Ambientes de madera en Quito" width="256" height="330" />

            <a class="btn bg-complementary text-positive"
              href="https://madera.edimca.com.ec/landing-revista-septiembre-octubre-2022" target="_blank">
              <i class="mdi mdi-progress-download text-primary"></i>

              <div class="text">Descargar revista</div>
            </a>
          </div>
        </div>
      </section>

      <section id="section4" style="display: none;">
        <div class="head">Inspírate en nuestros Ambientes</div>
        <div class="_flex _items-center">
          <div class="tag _pr-8">DESCUBRE LO QUE TENEMOS PARA TI</div>

          <a class="icon_btn bg-primary text-positive" href="/productos/inspirate-ambientes.html">
            <i class="mdi mdi-arrow-right"></i>
          </a>
        </div>
      </section>

      <section id="section5" style="display: none;">
        <div class="_container _mx-auto">
          <i class="icon-ubi"></i>
          <div class="head">¿Dónde puedes comprar?</div>
          <div class="tag">
            Tenemos 28 puntos de venta en el país y también entregamos a
            domicilio.
          </div>

          <img src="/assets/images/home/edimca-lider-en-madera-en-todo-ecuador.png" class=""
            title="Empresa lider en madera en odo ecuador" alt="Empresa lider en madera en odo ecuador" width="250"
            height="250" />

          <div class="_flex _flex-wrap _justify-center">
            <a class="btn bg-secundary text-positive" href="/puntos-de-venta.html">
              <i class="mdi mdi-map-search-outline text-positive"></i>

              <div class="text">Ver puntos de venta</div>
            </a>

            <a class="btn bg-complementary text-positive" href="https://api.whatsapp.com/send?phone=593993363767"
              target="_blank">
              <i class="mdi mdi-truck-delivery-outline text-primary"></i>

              <div class="text">Pedir entrega a domicilio</div>
            </a>
          </div>
        </div>
      </section>

      <section id="section6" style="display: none!important;" class="
            _container
            _mx-auto
            _flex _flex-wrap
            _justify-center
            _items-center
          ">
        <div class="_w-6/12 md:_w-full" data-aos="zoom-in-right" data-aos-anchor-placement="bottom-bottom">
          <img src="/assets/images/home/club-amigo-de-edimca-en-ecuador.png" class=""
            title="Club Amigo de Edimca en Ecuador" alt="Club Amigo de Edimca en Ecuador" width="604" height="328" />
        </div>
        <div class="_w-4/12 md:_w-full">
          <div class="txt">
            ¡EDIMCA premia tus compras, tu fidelidad y además te capacita para
            que puedas innovar como profesional!
          </div>
          <div class="tag">
            Afíliate GRATIS, acumula puntos y canjéalos con lo que más te
            gusta.
          </div>
          <div class="_flex _flex-wrap _justify-center">
            <a class="btn bg-secundary text-positive" href="/afiliate.html">
              <i class="mdi mdi-gift-outline text-positive"></i>

              <div class="text">Canjea tus premios</div>
            </a>

            <a class="btn bg-complementary text-positive" href="/capacitate.html">
              <i class="mdi mdi-human-male-board text-primary"></i>

              <div class="text">Capacítate con Club Amigo</div>
            </a>
          </div>
        </div>
      </section>

      <div class="scroll" :class="{hide:scroll}">
        <div class="text">SEGUIR NAVEGANDO</div>
        <i class="mdi mdi-arrow-right"></i>
      </div>

      <div class="download" :class="{show:down}">
        <div class="icon_btn_text">
          <a class="icon_btn bg-primary text-positive" href="javascript:void(0)" @click="toggleDown()">
            <i class="mdi mdi-arrow-left"></i>
          </a>

          <div class="text">Regresar</div>
        </div>

        <div class="top">Ingresar datos para descargar</div>
        <download
          :inputs='{"name":"Nombre","lastname":"Apellido","email":"Correo electrónico","phone":"Número celular"}'>
          <template slot="btn">
            <a class="btn bg-complementary text-positive" href="javascript:void(0)" @click="">
              <div class="text">Descargar revista</div>
            </a>
          </template>
        </download>
      </div>
    </div>

    <footer>
      <div class="_mx-auto _container">



        <i class="icon-suscribe"></i>
        <div class="head">Suscríbete a EDIMCA</div>
        <div class="txt">
          Entérate de todas nuestras ofertas y cursos online.
        </div>






        <subcribe :data='{"input":{"email":"tunombre@tumail.com"},"btn":{"icon":"send-outline"}}'>
          <template slot="btn">
            <a class="icon_btn bg-complementary text-positive rounded large" href="javascript:void(0)" @click="">
              <i class="mdi mdi-send-outline"></i>
            </a>
          </template>
        </subcribe>

        <div class="chanels">
          <div class="top">Estamos disponibles para ayudarte.</div>
          <div class="_flex _flex-wrap xsm:_justify-between _justify-around">
            <a class="square_btn_icon bg-positive text-complementary" href="tel:+593993363767" target="_blank">
              <i class="icon-call_o"></i>

              <div class="text">Llámanos</div>
            </a>

            <a class="square_btn_icon bg-positive text-complementary"
              href="https://api.whatsapp.com/send?phone=593993363767" target="_blank">
              <i class="icon-whatsapp_o"></i>

              <div class="text">WhatsApp</div>
            </a>

            <a class="square_btn_icon bg-positive text-complementary" href="mailto:info@edimca.com.ec" target="_blank">
              <i class="icon-mail"></i>

              <div class="text">Correo electrónico</div>
            </a>
          </div>
        </div>
        <div class="social">
          <div class="box _flex _flex-wrap _justify-between">
            <a href="https://www.instagram.com/edimca_ec/" target="_blank"><i class="icon-instagram"></i></a>

            <a href="https://www.facebook.com/edimca" target="_blank"><i class="icon-facebook"></i></a>

            <a href="https://www.linkedin.com/company/edimca/" target="_blank"><i class="icon-linkedin"></i></a>

            <a href="https://www.youtube.com/channel/UCAiqP_84GFdyrh16VoyvX6w" target="_blank"><i
                class="icon-youtube"></i></a>

            <a href="https://www.pinterest.com/edimca/" target="_blank"><i class="icon-pinterest"></i></a>
          </div>
        </div>


</div>

<div class="certificaciones_logo">
  <h4>Calidad, trayectoria y valores.<br>
    Contamos con Certificación ISO:9001 y somos parte de Pacto Global de ONU.</h4>

    <img src="/assets/images/home/logosCertificacionesEdimca@2x.png" class=""
    title="Certificaciones" alt="Certificaciones" width="300" />

</div>




        <div class="options">
          <div class="card_f">
            <div class="top">Productos</div>
            <div class="md:_flex sm:_block">
              <ul>
                <li>
                  <a href="/aglomerados.html"> Aglomerado </a>
                </li>

                <li>
                  <a href="/mdf.html"> MDF </a>
                </li>

                <li>
                  <a href="/ranurado.html"> Ranurado </a>
                </li>

                <li>
                  <a href="/tablero-osb.html"> OSB </a>
                </li>

                <li>
                  <a href="/triplex.html"> Tríplex </a>
                </li>

                <li>
                  <a href="/chapa-de-madera.html"> Chapa </a>
                </li>

                <li>
                  <a href="/acabados.html"> Acabados </a>
                </li>

                <li>
                  <a href="/madera-solida.html"> Madera Sólida </a>
                </li>
              </ul>

              <ul>
                <li>
                  <a href="/adhesivos.html"> Adhesivos </a>
                </li>

                <li>
                  <a href="/bordos.html"> Bordos </a>
                </li>

                <li>
                  <a href="/herrajes.html"> Herrajes </a>
                </li>

                <li>
                  <a href="/puertas.html"> Puertas </a>
                </li>

                <li>
                  <a href="/cerraduras.html"> Cerraduras </a>
                </li>

                <li>
                  <a href="/laminados-alta-presion.html">
                    Laminado de alta presión
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="card_f">
            <div class="top">Servicios</div>
            <div class="md:_flex sm:_block">
              <ul>
                <li>
                  <a href="/ruteados.html"> Ruteados Especiales </a>
                </li>

                <li>
                  <a href="/formica.html"> Pegado de Formica </a>
                </li>

                <li>
                  <a href="/perfileria.html"> Perfilería </a>
                </li>

                <li>
                  <a href="/canales.html"> Canales </a>
                </li>

                <li>
                  <a href="/etiquetado.html"> Etiquetado </a>
                </li>
              </ul>

              <ul>
                <li>
                  <a href="/perforado.html"> Perforado </a>
                </li>

                <li>
                  <a href="/fabricacion.html"> Fabricación </a>
                </li>

                <li>
                  <a href="/enchapado.html"> Enchape </a>
                </li>

                <li>
                  <a href="/corte.html"> Corte </a>
                </li>

                <li>
                  <a href="/postformado.html"> Postformado </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="card_f">
            <div class="top">Inspiración</div>
            <div class="md:_flex sm:_block">
              <ul>
                <li>
                  <a href="/productos/inspirate-ambientes.html"> Cocina </a>
                </li>

                <li>
                  <a href="/productos/inspirate-ambientes.html">
                    Dormitorio
                  </a>
                </li>

                <li>
                  <a href="/productos/inspirate-ambientes.html"> Baño </a>
                </li>

                <li>
                  <a href="/productos/inspirate-ambientes.html"> Sala </a>
                </li>
              </ul>

              <ul>
                <li>
                  <a href="/productos/inspirate-ambientes.html"> Comedor </a>
                </li>

                <li>
                  <a href="/productos/inspirate-ambientes.html"> Oficina </a>
                </li>

                <li>
                  <a href="/productos/inspirate-ambientes.html">
                    Home Office
                  </a>
                </li>

                <li>
                  <a href="/productos/inspirate-ambientes.html">
                    Homeschooling
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="card_f">
            <div class="top">Menú</div>
            <div class="md:_flex sm:_block">
              <ul>
                <li>
                  <a href="/quienes-somos.html"> Sobre EDIMCA </a>
                </li>

                <li>
                  <a href="/centro-de-diseno.html"> Centro de Diseño </a>
                </li>

                <li>
                  <a href="/puntos-de-venta.html"> Puntos de Venta </a>
                </li>
              </ul>

              <ul>
                <li>
                  <a href="/blog.html"> Blog </a>
                </li>

                <li>
                  <a href="/trabaja-con-nosotros.html">
                    Trabaja con nosotros
                  </a>
                </li>

                <li>
                  <a href="/afiliate.html"> Club Amigo </a>
                </li>

                <li>
                  <a href="/capacitate.html"> Capacitación </a>
                </li>

                <li>
                  <a href="javascript:void(0)" @click="togglePolitics()">
                    Política de Calidad
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <v-dialog v-model="politics" width="500" class="dialog" attach>
          <div class="head">
            Política de Calidad de Edimca
            <div @click="togglePolitics()">
              <i class="mdi mdi-close medium text-positive"></i>
            </div>
          </div>
          <div class="text">
            En Edimca estamos comprometidos en potenciar el negocio del
            trasformador de la madera, a través de la comercialización y
            transformación de tableros de madera y accesorios, incluyendo el
            diseño de partes y piezas, asegurando la sostenibilidad y el
            futuro crecimiento del grupo; por ello nos comprometemos a:<br /><br />
            <ul>
              <li>
                Generar y mantener un ambiente de trabajo y un clima laboral,
                que motiven el mejor desarrollo personal y profesional de
                todos sus colaboradores.
              </li>
              <li>
                Ofrecer la mejor experiencia a nuestros clientes, de tal
                manera que aumente su satisfacción y por ello nos recomienden.
              </li>
              <li>
                Mantener un enfoque de calidad y de mejora continua, basada en
                la Gestión por Procesos.
              </li>
              <li>
                Mantener un sistema de evaluación de desempeño que contribuya
                al cumplimiento de los objetivos individuales y
                organizacionales.
              </li>
              <li>
                Cumplir con los requisitos de las partes interesadas, entre
                los que destacan: los requisitos del cliente y regulatorios
                aplicables a nuestro negocio.
              </li>
            </ul>
          </div>
        </v-dialog>
      </div>
    </footer>

    <div class="rastrea" id="">
      <a href="https://edimca.com.ec/seguimiento-despacho.html">
        <img src="/assets/images/home/camion_b.png" />
        <p>¡Rastrea</p>
        <p>tu pedido aquí!</p>
      </a>
    </div>

    <div class="help">
      <div class="options" :class="{show:help}">
        <a class="square_btn_icon bg-complementary text-positive" href="javascript:void(0)" @click="toggleContact()">
          <i class="icon-calculate"></i>

          <div class="text">Cotizar</div>
        </a>

        <a class="square_btn_icon bg-complementary text-positive"
          href="https://api.whatsapp.com/send?phone=593993363767" target="_blank">
          <i class="icon-whatsapp"></i>

          <div class="text">Whatsapp</div>
        </a>

        <a class="square_btn_icon bg-complementary text-positive" href="tel:+593993363767" target="_blank">
          <i class="icon-call"></i>

          <div class="text">Llámanos</div>
        </a>
      </div>
      <div v-if="help">
        <a class="btn_down" href="javascript:void(0)" @click="toggleHelp()">
          <i class="mdi mdi-close"></i>

          <div class="text">Cerrar</div>
        </a>
      </div>

      <div v-else>
        <a class="btn_down" href="javascript:void(0)" @click="toggleHelp()">
          <i class="mdi mdi-account-question-outline"></i>

          <div class="text">¿Necesitas asesoría?</div>
        </a>
      </div>
    </div>

    <div class="contact" :class="{show:contact}">
      <div class="icon_btn_text">
        <a class="icon_btn bg-primary text-positive" href="javascript:void(0)" @click="toggleContact()">
          <i class="mdi mdi-arrow-left"></i>
        </a>

        <div class="text">Regresar</div>
      </div>

      <div class="top">Ingresar datos para atender tu requerimiento</div>


<div class="container-cont">

      <object  data="https://wordpress-696072-2333664.cloudwaysapps.com/cotizaciones"
      width="100%"
      height="800"
      type="text/html">
      </object>
       </div>
    </div>

        

    </div>
    

    <div class="search" :class="{show:search}">
      <div class="icon_btn_text">
        <a class="icon_btn bg-primary text-positive" href="javascript:void(0)" @click="toggleSearch()">
          <i class="mdi mdi-arrow-left"></i>
        </a>

        <div class="text">Regresar</div>
      </div>

      <div class="_container _mx-auto">
        <div class="top">Ingresar una palabra de búsqueda</div>
        <search> </search>
      </div>
    </div>

    <div class="copy_up" :class="{show:copied}">URL copiado</div>
    <div class="inst" :class="{show:instructions}">
      Llena el formulario y entrégalo a tu asesor comercial Edimca
    </div>
  </div>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="/assets/js/blocker.js"></script>

  <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "image": "https://edimca.com.ec/assets/images/metatag.jpg",
        "@id": "https://edimca.com.ec/",
        "name": "EDIMCA",
        "url": "https://edimca.com.ec/",
        "telephone": "+59323071503",
        "sameAs": [
          "https://www.facebook.com/edimca",
          "https://www.instagram.com/edimca_ec/",
          "https://www.youtube.com/user/EdimcaMadera",
          "https://www.linkedin.com/company/edimca/",
          "https://twitter.com/edimca"
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Panamericana Sur KM 14 1/2, Calle L, Quito - Ecuador",
          "addressLocality": "Quito",
          "addressRegion": "Pichincha",
          "addressCountry": "Ecuador"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "-0.30576981",
          "longitude": "-78.5268476"
        },
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes"],
            "opens": "9:00",
            "closes": "18:00"
          }
        ]
      }
    </script>

  <script src="/assets/js/chunk-vendors.5c475a3d.js"></script>
  <script src="/assets/js/chunk-common.3d02d95e.js"></script>
  <script src="/assets/js/index.1da573ea.js"></script>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
    function sendEmail() {
      var name = $("#name");
      var email = $("#email");
      var subject = $("#subject");
      var body = $("#body");

      if (isNotEmpty(name) && isNotEmpty(email) && isNotEmpty(subject) && isNotEmpty(body)) {
        $.ajax({
          url: 'enviar.php',
          method: 'POST',
          dataType: 'json',
          data: {
            name: name.val(),
            email: email.val(),
            subject: subject.val(),
            body: body.val()
          }, success: function (response) {
            $('#myForm')[0].reset();
            $('.sent-notification').text("Message Sent Successfully.");
          }
        });
      }
    }

    function isNotEmpty(caller) {
      if (caller.val() == "") {
        caller.css('border', '1px solid red');
        return false;
      } else
        caller.css('border', '');

      return true;
    }

    
  </script>


  <script>
    window.addEventListener("load", function () {
      setTimeout(function open(event) {
        document.querySelector(".popup").style.display = "block";
      }, 1000);
    });
    document.querySelector("#close").addEventListener("click", function () {
      document.querySelector(".popup").style.display = "none";
    });
  </script>

<script>
  window.addEventListener("load", function () {
    setTimeout(function open(event) {
      document.querySelector(".popup2").style.display = "block";
    }, 1000);
  });
  document.querySelector("#close2").addEventListener("click", function () {
    document.querySelector(".popup2").style.display = "none";
  });
</script>
  
  <script type="text/javascript">
        function loadScript(t,e){var a=document.createElement("script");a.type="text/javascript",a.readyState?a.onreadystatechange=function(){"loaded"!=a.readyState&&"complete"!=a.readyState||(a.onreadystatechange=null,e())}:a.onload=function(){e()},a.src=t,document.getElementsByTagName("head")[0].appendChild(a)}loadScript("https://webcontact.contactvox.com/js/3.0/webcontact.floating-menu.min.js?37e74c5a28a59b117c0f6f7f6c585fec",function(){});
        </script></body>

</html>
